@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
@import "resets";

$font: "Plus Jakarta Sans", sans-serif;

$purple: #666ca3;
$dark: #13183f;
$grey: #83869a;
$darkPink: #f74780;
$lightPink: #ffa7c3;
$white: #ffffff;
$pinkGradient: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$blueGradient: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);

body {
 font-family: $font;
 position: relative;
}

.container {
 padding: 1rem;
 overflow-x: hidden;
 @media (min-width: 767px) {
  padding: 24px 40px;
 }
 @media (min-width: 1440px) {
  padding: 24px 165px;
 }
}

.header {
 display: flex;
 justify-content: space-between;
 margin-bottom: 38px;

 h3 {
  font-size: 28px;
  color: $dark;
 }

 .get-started-btn {
  color: $white;
  background-color: $dark;
  border-radius: 28px;
  padding: 11px 24px;
  transition: all 200ms linear;

  &:hover {
   background-color: $grey !important;
   cursor: pointer;
  }
 }
}

.hero {
 @media (min-width: 767px) {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 8rem;
  margin-top: 5rem;
 }
 @media (min-width: 1440px) {
  display: grid;
  grid-template-columns: 45% 60%;
  margin-bottom: 0;
  margin-top: 185px;
 }
 .get-started-section {
  @media (min-width: 767px) {
  }
  h1 {
   color: $dark;
   font-size: 40px;
   line-height: 50px;
   margin-bottom: 26px;
   @media (min-width: 1440px) {
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
   }
  }
  p {
   color: $grey;
   font-size: 1rem;
   line-height: 26px;
   @media (min-width: 1440px) {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
   }
  }

  .get-started-btn {
   background: $pinkGradient;
   color: $white;
   padding: 15px 38px;
   border-radius: 31.5px;
   margin-top: 24px;
   transition: all 200ms linear;

   &:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
     linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    cursor: pointer;
   }

   @media (min-width: 1440px) {
    margin-top: 40px;
   }
  }
 }

 .member-section {
  margin-top: 60px;
  .member-img-desktop {
   transform: scale(1.4) translate(11rem, -13.5rem);

   display: block;

   @media (max-width: 1439px) {
    display: none;
   }
  }
  .member-img-tablet {
   transform: scale(2.5) translate(3rem, -2.5rem);

   @media (min-width: 1440px) {
    display: none;
   }

   @media (max-width: 767px) {
    display: none;
   }
  }
  .member-img {
   display: block;
   transform: scale(1.25);
   @media (min-width: 767px) {
    display: none;
   }
  }
 }
}

.courses-section {
 margin-bottom: 150px;
 .courses {
  @media (min-width: 767px) {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 11px;
  }

  @media (min-width: 1440px) {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
  }
 }
 .courses-title {
  background: $pinkGradient;
  color: $white;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  padding: 24px 29px;
  border-radius: 10px;
  margin-bottom: 40px;

  @media (min-width: 767px) {
   padding: 56px 21px 139px 32px;
  }
  @media (min-width: 1440px) {
   font-size: 32px;
   line-height: 40px;
  }
 }

 .course {
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  padding: 0 29px 32px 28px;
  margin-bottom: 40px;

  img {
   position: absolute;
   transform: translateY(-50%);
  }

  .course-title {
   font-weight: 800;
   font-size: 20px;
   color: $dark;
   margin-bottom: 1rem;
   padding-top: 56px;
  }

  .course-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color: $grey;
   margin-bottom: 24px;

   @media (min-width: 1440px) {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
   }
  }

  .start-course-btn {
   font-weight: 700;
   font-size: 18px;
   color: $darkPink;
   padding: 0;
  }
 }
}

.footer {
 background-color: $dark;
 color: $white;
 display: flex;
 justify-content: space-between;
 padding: 36px 16px;
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;

 @media (min-width: 767px) {
  padding: 36px 40px;
 }
 @media (min-width: 1440px) {
  padding: 32px 165px;
 }

 h3 {
  font-weight: 800;
  font-size: 28px;
  color: $white;
 }

 .get-started-footer-btn {
  font-weight: 700;
  font-size: 16px;
  color: $white;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  padding: 10px 24px;
  transition: all 0.5s ease;

  &:hover {
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(180deg, #ff48f1 -54.32%, #f02aa6 100%);
   cursor: pointer;
  }
 }
}
