@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
@import "resets";

$font: "Plus Jakarta Sans", sans-serif;

$purple: #666ca3;
$dark: #13183f;
$grey: #83869a;
$darkPink: #f74780;
$lightPink: #ffa7c3;
$white: #ffffff;
$pinkGradient: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$blueGradient: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);

body {
 font-family: $font;
}

.container {
 margin: 1rem;
}

.header {
 display: flex;
 justify-content: space-between;
 margin-bottom: 38px;

 h3 {
  font-size: 28px;
  color: $dark;
 }

 .get-started-btn {
  color: $white;
  background-color: $dark;
  border-radius: 28px;
  padding: 11px 24px;
 }
}

.get-started-section {
 h1 {
  color: $dark;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 26px;
 }
 p {
  color: $grey;
  font-size: 1rem;
  line-height: 26px;
 }

 .get-started-btn {
  background: $pinkGradient;
  color: $white;
  padding: 15px 38px;
  border-radius: 31.5px;
  margin-top: 24px;
 }
}

.member-section {
 margin-top: 60px;
 .member-img {
  transform: scale(1.25);
 }
}
